@import '../../styles/variables';

.hasModal {
  overflow: hidden;
}

.modalOverlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  transition: background-color 0.1s ease-in-out;
  z-index: -200;

  &.open {
    background-color: rgba($color: #131a24, $alpha: 0.7);
    backdrop-filter: blur(2px);
    z-index: 200;
  }

  .modalScroll {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
  }

  .modalContainer {
    position: relative;
    border-radius: 8px;
    max-width: calc(100% - 40px);
    z-index: 1;

    &:not(.scrollable) {
      max-height: calc(100vh - 40px);
    }

    &:not(.fullscreen) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &.fullscreen {
      min-width: 100vw;
      min-height: 100vh;
    }
  }

  .modalCloseBtn {
    position: absolute;
    top: 16.8px;
    right: 16px;
    border: 0;
    background: none;
    padding: 3px;
    height: auto;

    &:focus {
      outline: none;
    }
  }
}
